.sidebar(data-color="red", data-image="/img/sidebar-4.jpg")
  //
    Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
    Tip 2: you can also add an image using data-image tag
  .sidebar-wrapper
    .logo
      a.simple-text(href="/")
        | Livestream Manager
    ul.nav
      li
        a(href="/livestream")
          i.pe-7s-video
          p Livestreams
      li
        a(href="/text")
          i.pe-7s-note
          p Tekstregels
      li
        a(href="/user")
          i.pe-7s-user
          p Profiel
